{% extends 'app/admin_home.html' %}
{% load static %}
{% block title %}User List{% endblock title %}



{% block admin %}

<style>
  .card-body{
    background-color: #e8edea;
    margin-top:3rem;
    margin-bottom:5rem;
    border-radius:2rem;
    padding:1.5rem;
    }
</style>


<div class="container-fluid">
  <div class="row">
    <!-- Sidebar -->
    <nav class="sidebar sidebar-offcanvas col-lg-2" id="sidebar">
      <!-- Your existing sidebar content -->
    </nav>

    <!-- Product Addition Form -->
    <div class="col-lg-10 card-body">
      <div class="container">
        <h2>Add New Product</h2>
        <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Add Product</button>
        </form>
      </div>
    </div>
  </div>
</div>


{% endblock admin %}