{% extends 'app/admin-dashboard.html' %}
{% load static %}
{% block title %}Add Image{% endblock title %}



{% block admin %}

<div class="container-fluid">
  <div class="row">
    <!-- Sidebar -->
    <nav class="sidebar sidebar-offcanvas col-lg-2" id="sidebar">
      <!-- Your existing sidebar content -->
    </nav>

    <!-- Product Addition Form -->
    <div class="col-lg-10 card-body">
      <div class="container">
          <h2>Add Images to Product- {{product.title}}</h2>
          <form method="post" enctype="multipart/form-data" >
            {% csrf_token %}
            {{ formset.management_form }}
        <table class="table">
            {% for form in formset %}
            {{ form.as_table }}
            {% endfor %}
        </table>
        <button type="submit" class="btn btn-primary">Upload Image</button>
        <a href="{% url 'product_list' %}" class="btn btn-danger">Done</a>
    </form>

          <h2>Product Images</h2>
    <div class="row">
        {% for image in product.images.all %}
            <div class="col-md-3 mb-3">
                <div class="card" >
                    <img src="{{ image.image.url }}" alt="{{ product.title }}" class="card-img-top img-thumbnail" style="width: 2500px; height: 210px;">
                    <div class="card-body" >
                        <form method="post" action="{% url 'delete_product_image' image.id %}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                        </form>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
      </div>
    </div>
  </div>
</div>

{% endblock admin %}