{% extends 'app/baseindex.html' %}
{% load static %}
{% block title %}Address{% endblock title %}
{% block main-content %}

<style>
    .custom-nav .nav-item {
    margin-bottom: 10px;
}

.custom-nav .nav-link {
    color: #0f0f0f;
    transition: color 0.3s;
}

.custom-nav .nav-link:hover {
    color: #007bff;
}
</style>


    <div class="container-fluid">
        <div class="row">
            <!-- Left Sidebar Navigation -->
            <div class="col-md-3 bg-dark text-light">
                <div id="custom-navigation">
                    <div class="container">
                        <div id="responsive-nav">
                            <ul class="custom-nav">
                                <h5>Welcome <span class="active text-capitalize h2 text-primary">{{ request.user }}</span></h5>
                                <li class="nav-item">
                                    <a href="{% url 'profile' %}" class="nav-link">Profile</a>
                                </li>
                                <li class="nav-item">
                                    <a href="{% url 'address' %}" class="nav-link {{ active }}">Address</a>
                                </li>
                                <li class="nav-item">
                                    <a href="{% url 'passwordchange' %}" class="nav-link">Change Password</a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">Orders</a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">Wishlist</a>
                                </li>
                                    <li class="nav-item">
                                        <a href="{% url 'cart' %}" class="nav-link">Cart</a>
                                    </li>
                                <li class="nav-item">
                                    <a href="{% url 'logout' %}" class="nav-link">Logout</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /Left Sidebar Navigation -->

<div class="container my-5">
 <div class="row">
  <div class="col-sm-9 offset-sm-1">
   <div class="row">
    {% for ad in add %}

    <div class="col-sm-6">
     <div class="card">
      <div class="card-body">
       <h3>Address {{forloop.counter}}</h3>
       <p>Name: {{ad.name}}</p>
       <p>Localiry: {{ad.locality}}</p>
       <p>City: {{ad.city}}</p>
       <p>State: {{ad.state}}</p>
       <p>Pincode: {{ad.pincode}}</p>
       <p>Phone Number: {{ad.phone_number}}</p>
            <div class="btn-group" role="group" aria-label="Address Actions">
                <a href="{% url 'edit_address' ad.id %}" class="btn "><i class="fas fa-edit"></i></a>
                <a href="{% url 'delete_address' ad.id %}" class="btn "><i class="fas fa-trash"></i></a>
            </div>
      </div>
     </div>
    </div>
    {% endfor %}
   </div>
  </div>
 </div>
</div>
{% endblock main-content %}