{% extends 'app/user_profile.html' %}
{% load static %}
{% block title %}Profile{% endblock title %}
{% block leftcontent %}




  <div class="col-sm-9 offset-sm-1">
   <div class="row">
    {% for ad in add %}

    <div class="col-sm-6">
     <div class="card">
         <h3>Address {{forloop.counter}}</h3>
      <div class="card-body2">
       <p>Name: {{ad.name}}</p>
       <p>Localiry: {{ad.locality}}</p>
       <p>City: {{ad.city}}</p>
       <p>State: {{ad.state}}</p>
       <p>Pincode: {{ad.pincode}}</p>
       <p>Phone Number: {{ad.phone_number}}</p>
            <div class="btn-group" role="group" aria-label="Address Actions">
                <a href="{% url 'edit_address' ad.id %}" class="btn "><i class="fas fa-edit"></i></a>
                <a href="{% url 'delete_address' ad.id %}" class="btn "><i class="fas fa-trash"></i></a>
            </div>
      </div>
     </div>
    </div>
    {% endfor %}
   </div>
  </div>

{% endblock leftcontent %}