{% extends 'app/baseindex.html' %}
{% load static %}
{% block title %}Admin home{% endblock title %}

{% block navigation %} {% endblock navigation %}

{% block main-content %}
<style>

.custom-user {
  text-transform: capitalize;
  font-size: 30px;
}
</style>



<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav col-lg-3">
    <!-- Profile Section -->
    <li class="nav-item nav-profile border-bottom">
      <a href="#" class="nav-link flex-column">
      <!-- Profile Text -->
      <div class="nav-profile-text d-flex ml-0 mb-3 flex-column">
        <span class="font-weight-bold mb-1 mt-2 text-center text-primary custom-user">{{ request.user }}</span>
      </div>
      </a>
    </li>


    <li class="nav-item">
      <a class="nav-link" href="{% url 'admin_home' %}">
        <i class="mdi mdi-compass-outline menu-icon"></i>
        <span class="menu-title font-weight-bold">Home</span>
      </a>
    </li>

    <!-- Users -->
    <li class="nav-item">
      <a class="nav-link" href="{% url 'user_list' %}">
        <i class="mdi mdi-compass-outline menu-icon"></i>
        <span class="menu-title font-weight-bold">Users</span>
      </a>
    </li>

    <!-- Products -->
    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
        <i class="mdi mdi-crosshairs-gps menu-icon"></i>
        <span class="menu-title font-weight-bold">Products</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="ui-basic">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item">
            <a class="nav-link font-weight-bold" href="{% url 'product_list' %}">Product List</a>
          </li>
          <li class="nav-item">
            <a class="nav-link font-weight-bold" href="{% url 'add_product' %}">Add New Product</a>
          </li>

        </ul>
      </div>
    </li>

    <!-- Category -->
    <li class="nav-item">
      <a class="nav-link" href="{% url 'category_list_and_add' %}">
        <i class="mdi mdi-contacts menu-icon"></i>
        <span class="menu-title font-weight-bold">Category</span>
      </a>
    </li>

    <!-- Brand -->
    <li class="nav-item">
      <a class="nav-link" href="{% url 'brand_list_and_add' %}">
        <i class="mdi mdi-format-list-bulleted menu-icon"></i>
        <span class="menu-title font-weight-bold">Brand</span>
      </a>
    </li>

        <!-- Logout -->
    <li class="nav-item">
      <a class="nav-link" href="{% url 'logout' %}">
        <i class="mdi mdi-table-large menu-icon"></i>
        <span class="menu-title font-weight-bold">Logout</span>
      </a>
    </li>

  </ul>
</nav>
{% block admin %} {% endblock admin %}


{% endblock main-content %}

{% block newsletter %}{% endblock newsletter %}
{% block footer %}{% endblock footer %}