{% extends 'app/baseindex.html' %}
{% load static %}
{% block title %}Cart{% endblock title %}

{% block main-content %}

<style>
.container-fluid{
margin:0 40px 200px 40px;

}
.gradient-custom {
background: #f6f7fb;
background: rgb(224, 233, 235);

}

.delete-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    color: #750505; /* Change the color to your preference */
    border: none;
    cursor: pointer;
    z-index: 1;
}


.card {
    position: relative;
}



</style>

<div class="container-fluid my-5">
    <div class="row">
        <h1 class="text-center mb-5">Shopping Cart</h1>
        {% if cart_items %}
        <div class="col-sm-8">
            <div class="card">
                <div class="card-body">
                    <h3>Cart</h3>
                    {% for item in cart_items %}
                    <div class="row">
                        <div class="col-sm-3 text-center align-self-center"><img
                                src="{{ item.product.images.first.image.url }}" alt="" srcset=""
                                class="img-fluid img-thumbnail shadow-sm" height="150" width="150"></div>
                        <div class="col-sm-9">
                            <!--         product 1-->
                            <div>
                                <a href="{% url 'product-detail' item.product.id %}"><h5>{{ item.product.title }}</h5>
                                </a>
                                <p class="mb-0"><span>Price: Rs. <strong>{{ item.product.discount_price }}</strong></span></p>
                                <p class="mb-2 text-muted small">Description: <br>{{ item.product.description }}</p>
                                <div class="my-3">
                                    <label for="quantity">Quantity:</label>
                                    <a class="minus-cart btn" pid="{{ item.product.id }}"><i class="fas fa-minus-square fa-lg"></i></a>
                                    <span id="quantity">{{ item.quantity }}</span>
                                    <a class="plus-cart btn" pid="{{ item.product.id }}"><i class="fas fa-plus-square fa-lg"></i></a>
                                </div>
                                <div class="d-flex justify-content-between">
                                    <form method="post" action="{% url 'delete_cart_item' item.id %}">
                                        {% csrf_token %}
                                        <button type="submit"
                                                class="btn  btn-sm me-1 mb-2 delete-button" data-mdb-toggle="tooltip"
                                                title="Remove item">
                                            <i class="fas fa-trash"></i>
                                        </button>
                                    </form>
<!--                                    <p class="mb-0"><strong>Rs <span>{{ item.product.discount_price }}</span></strong></p>-->
                                </div>
                            </div>
                            <!--         product 1-->
                        </div>
                    </div>
                    <hr class="text-muted">
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <h3>Summary</h3>
                    <ul class="list-group">
                        <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">
                            Amount: <span>Rs. <span id="amount">{{ total_price }}</span></span></li>
                        <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                            Shipping: <span>Rs. 00.00</span></li>
                        <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3">
                            <div>
                                <strong>Total</strong> <small>(including GST)</small>
                            </div>
                            <span><strong><span id="amount1">{{ total_price }}</span></strong></span>
                        </li>
                    </ul>
                    <div class="d-grid">
                        <a href="{% url 'checkout' %}">
                            <button type="button" class="primary-btn order-submit btn-lg btn-block">Go to checkout</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        {% else %}
        <p>No items in your cart</p>
        {% endif %}
<div class="card">
    <div class="card-body bg-info">
        {% if messages %}
            <ul class="list-unstyled">
                {% for message in messages %}
                    <li{% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>
                <span>{{ message }}</span>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
</div>

    </div>
</div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
$('.plus-cart').click(function () {
    var id = $(this).attr("pid").toString();
    var eml = this.parentNode.children[2];
    $.ajax({
        type: "GET",
        url: "/plus-cart/",
        data: {
            prod_id: id
        },
        success: function (data) {
            eml.innerText = data.quantity;
            document.getElementById("amount").innerText = data.amount;
            document.getElementById("amount1").innerText = data.amount;
        }
    });
});

$('.minus-cart').click(function () {
    var id = $(this).attr("pid").toString();
    var eml = this.parentNode.children[2];
    $.ajax({
        type: "GET",
        url: "/minus-cart/",
        data: {
            prod_id: id
        },
        success: function (data) {
            console.log(data);
            console.log("success");
            eml.innerText = data.quantity;
            document.getElementById("amount").innerText = data.amount;
            document.getElementById("amount1").innerText = data.amount;
        }
    });
});

</script>

{% endblock main-content %}
{% block newsletter %}{% endblock newsletter %}