{% extends 'app/baseindex.html' %}
{% load static %}
{% block title %}Checkout{% endblock title %}

{% block main-content %}
	<body>

<form method="post" action="{% url 'order_placed' %}">
  {% csrf_token %}
		<!-- BREADCRUMB -->

		<div id="breadcrumb" class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<div class="col-md-12">
						<h3 class="breadcrumb-header">Checkout</h3>
						<ul class="breadcrumb-tree">
							<li><a href="#">Home</a></li>
							<li class="active">Checkout</li>
						</ul>
					</div>
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /BREADCRUMB -->

		<!-- SECTION -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">

					<div class="col-md-7">
						<!-- Billing Details -->
						<div class="billing-details">
							<div class="section-title">
								<h3 class="title">Billing address</h3>
							</div>
							<div class="form-group">
								{% for add in address %}
									<div class="payment-method">
										<div class="input-radio">
											<input type="radio" name="billing_address_id" id="billaddress{{ forloop.counter }}" value="{{add.id}}">
											<label for="billaddress{{ forloop.counter }}">
												<span></span>
												<strong>Address {{ forloop.counter }}</strong>
											</label>
											<div class="caption">
												<h5>{{add.name}}</h5>
												<p>{{add.locality}}, {{add.city}}, {{add.state}} - {{add.pincode}}<br>{{add.phone_number}}</p>
											</div>
										</div>
									</div>
								{% endfor %}
								<div class="input-checkbox">

									<input type="checkbox" id="create-account">
									<label for="create-account">
										<span></span>
										Create New Address?
									</label>
<!--									<div class="caption">-->
<!--										<div class="form-group">-->
<!--											<input class="input" type="text" name="first-name" placeholder="First Name">-->
<!--										</div>-->
<!--										<div class="form-group">-->
<!--											<input class="input" type="text" name="last-name" placeholder="Last Name">-->
<!--										</div>-->
<!--										<div class="form-group">-->
<!--											<input class="input" type="email" name="email" placeholder="Email">-->
<!--										</div>-->
<!--										<div class="form-group">-->
<!--											<input class="input" type="text" name="address" placeholder="Address">-->
<!--										</div>-->
<!--										<div class="form-group">-->
<!--											<input class="input" type="text" name="city" placeholder="City">-->
<!--										</div>-->
<!--										<div class="form-group">-->
<!--											<input class="input" type="text" name="country" placeholder="Country">-->
<!--										</div>-->
<!--										<div class="form-group">-->
<!--											<input class="input" type="text" name="zip-code" placeholder="ZIP Code">-->
<!--										</div>-->
<!--										<div class="form-group">-->
<!--											<input class="input" type="tel" name="tel" placeholder="Telephone">-->
<!--										</div>-->
<!--									</div>-->
									<div class="caption">
                            <form action="" method="post" novalidate>
                                {% csrf_token %}
                                {% for fm in form %}
                                <div class="form-group col-lg-6 mb-3">
                                    {{fm.label_tag}} {{fm}} <small class="text-danger">{{fm.errors|striptags}}</small>
                                </div>
                                {% endfor %}
                                <div class="col-12 mt-3">
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </div>
                            </form>
									</div>
								</div>
							</div>

						</div>
						<!-- /Billing Details -->

						<!-- Shiping Details -->
						<div class="shiping-details">
							<div class="section-title">
								<h3 class="title">Shiping address</h3>
							</div>
								{% for add in address %}
									<div class="payment-method">
										<div class="input-radio">
											<input type="radio" name="shipping_address_id" id="shipaddress{{ forloop.counter }}" value="{{add.id}}">
											<label for="shipaddress{{ forloop.counter }}">
												<span></span>
												<strong>Address {{ forloop.counter }}</strong>
											</label>
											<div class="caption">
												<h5>{{add.name}}</h5>
												<p>{{add.locality}}, {{add.city}}, {{add.state}} - {{add.pincode}}<br>{{add.phone_number}}</p>
											</div>
										</div>
									</div>
								{% endfor %}
							<div class="input-checkbox">
								<input type="checkbox" id="shiping-address">
								<label for="shiping-address">
									<span></span>
									Ship to a diffrent address?
								</label>
								<div class="caption">
									<form action="" method="post" novalidate>
										{% csrf_token %}
										{% for fm in form %}
										<div class="form-group col-lg-6 mb-3">
											{{fm.label_tag}} {{fm}} <small class="text-danger">{{fm.errors|striptags}}</small>
										</div>
										{% endfor %}
										<div class="col-12 mt-3">
											<button type="submit" class="btn btn-primary">Submit</button>
										</div>
									</form>
								</div>
							</div>
						</div>
						<!-- /Shiping Details -->

						<!-- Order notes -->
						<div class="order-notes">
							<textarea class="input" placeholder="Order Notes"></textarea>
						</div>
						<!-- /Order notes -->
					</div>

					<!-- Order Details -->
					<div class="col-md-5 order-details">
						<div class="section-title text-center">
							<h3 class="title">Your Order</h3>
						</div>
						<div class="order-summary">
							<div class="order-col">
								<div><strong>PRODUCT</strong></div>
								<div><strong>TOTAL</strong></div>
							</div>
							{% for item in product_data %}
							<div class="order-products">
								<div class="order-col">
									<div>{{ item.quantity }}x {{ item.product }}</div>
									<div>₹{{ item.total_price }}</div>
								</div>
							</div>
							{% endfor %}
							<div class="order-col">
								<div>Shiping</div>
								<div><strong>FREE</strong></div>
							</div>
							<div class="order-col">
								<div><strong>TOTAL</strong></div>
								<div><strong class="order-total">₹{{ final_price }}</strong></div>
							</div>
						</div>
						<div class="payment-method">
							<div class="input-radio">
								<input type="radio" name="payment" id="payment-1">
								<label for="payment-1">
									<span></span>
									Direct Bank Transfer
								</label>
								<div class="caption">
									<p>Once the bank transfer is completed, please email us the payment confirmation at our Email Address. Your order will be processed once we verify the payment.</p>
								</div>
							</div>
							<div class="input-radio">
								<input type="radio" name="payment" id="payment-2">
								<label for="payment-2">
									<span></span>
									Cheque Payment
								</label>
								<div class="caption">
									<p>Please make your cheque payable. Send your cheque to our Address. Your order will be processed once we receive and verify the cheque.</p>
								</div>
							</div>
							<div class="input-radio">
								<input type="radio" name="payment" id="payment-3">
								<label for="payment-3">
									<span></span>
									Paypal System
								</label>
								<div class="caption">
									<p>Pay securely with PayPal, a trusted and convenient payment method.</p>
								</div>
							</div>
							<div class="input-radio">
								<input type="radio" name="payment" id="payment-4">
								<label for="payment-4">
									<span></span>
									Cash on delivery
								</label>
								<div class="caption">
									<p>Pay with cash when your order is delivered to your doorstep. Please have the exact amount ready.</p>
								</div>
							</div>
						</div>
						<div class="input-checkbox">
							<input type="checkbox" id="terms">
							<label for="terms">
								<span></span>
								I've read and accept the <a href="#">terms & conditions</a>
							</label>
						</div>
						  <div class="col-12 text-center">
							<button type="submit" class="primary-btn order-submit " style="width:100%" formnovalidate>Place order</button>
						  </div>
					</div>
					<!-- /Order Details -->
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /SECTION -->

</form>




	</body>
</html>
{% endblock main-content %}