{% extends 'app/baseindex.html' %}
{% load static %}
{% block title %}Checkout{% endblock title %}

{% block main-content %}
<style>
	.offer-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: .5rem;
}

.offer-button button {
    margin-left: 0.5rem;
}

</style>

<body>

<form method="post" action="{% url 'order_placed' %}" id="paymentform">
  {% csrf_token %}
		<!-- BREADCRUMB -->

		<div id="breadcrumb" class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<div class="col-md-12">
						<h3 class="breadcrumb-header">Checkout</h3>
						<ul class="breadcrumb-tree">
							<li><a href="#">Home</a></li>
							<li class="active">Checkout</li>
						</ul>
					</div>
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /BREADCRUMB -->

		<!-- SECTION -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">

					<div class="col-md-7">
						<!-- Billing Details -->
						<div class="billing-details">
							<div class="section-title">
								<h3 class="title">Billing address</h3>
							</div>
							<div class="form-group">
								{% for add in address %}
									<div class="payment-method">
										<div class="input-radio">
											<input type="radio" name="billing_address_id" id="billaddress{{ forloop.counter }}" value="{{add.id}}">
											<label for="billaddress{{ forloop.counter }}">
												<span></span>
												<strong>Address {{ forloop.counter }}</strong>
											</label>
											<div class="caption">
												<h5>{{add.name}}</h5>
												<p>{{add.locality}}, {{add.city}}, {{add.state}} - {{add.pincode}}<br>{{add.phone_number}}</p>
											</div>
										</div>
									</div>
								{% endfor %}
								<div class="input-checkbox">
									<input type="checkbox" id="create-accounts">
									<label for="create-accounts" >
										<span></span>
										Create New Address?
									</label>
									<div class="caption">
                            <form action="" method="post" novalidate>
                                {% csrf_token %}
                                {% for fm in form %}
                                <div class="form-group col-lg-6 mb-3">
                                    {{fm.label_tag}} {{fm}} <small class="text-danger">{{fm.errors|striptags}}</small>
                                </div>
                                {% endfor %}
                                <div class="col-12 mt-3">
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </div>
                            </form>
									</div>
								</div>
							</div>

						</div>
						<!-- /Billing Details -->

						<!-- Shiping Details -->
						<div class="shiping-details">
							<div class="section-title">
								<h3 class="title">Shiping address</h3>
							</div>
								{% for add in address %}
									<div class="payment-method">
										<div class="input-radio">
											<input type="radio" name="shipping_address_id" id="shipaddress{{ forloop.counter }}" value="{{add.id}}">
											<label for="shipaddress{{ forloop.counter }}">
												<span></span>
												<strong>Address {{ forloop.counter }}</strong>
											</label>
											<div class="caption">
												<h5>{{add.name}}</h5>
												<p>{{add.locality}}, {{add.city}}, {{add.state}} - {{add.pincode}}<br>{{add.phone_number}}</p>
											</div>
										</div>
									</div>
								{% endfor %}
							<div class="input-checkbox">
								<input type="checkbox" id="shiping-address">
								<label for="shiping-address">
									<span></span>
									Create new address?
								</label>
								<div class="caption">
									<form action="" method="post" novalidate>
										{% csrf_token %}
										{% for fm in form %}
										<div class="form-group col-lg-6 mb-3">
											{{fm.label_tag}} {{fm}} <small class="text-danger">{{fm.errors|striptags}}</small>
										</div>
										{% endfor %}
										<div class="col-12 mt-3">
											<button type="submit" class="btn btn-primary">Submit</button>
										</div>
									</form>
								</div>
							</div>
						</div>
						<!-- /Shiping Details -->

						<!-- Order notes -->
<!--						<div class="order-notes">-->
<!--							<textarea class="input" placeholder="Order Notes"></textarea>-->
<!--						</div>-->
						<!-- /Order notes -->
					</div>

					<!-- Order Details -->
					<div class="col-md-5 order-details">
						<div class="section-title text-center">
							<h3 class="title">Your Order</h3>
						</div>
						<div class="order-summary">
							<div class="order-col">
								<div><strong>PRODUCT</strong></div>
								<div><strong>TOTAL</strong></div>
							</div>
							{% for item in product_data %}
							<div class="order-products">
								<div class="order-col">
									<div>{{ item.quantity }}x {{ item.product }}</div>
									<div>₹{{ item.total_price }}</div>
								</div>
							</div>
							{% endfor %}
							<div class="order-col">
								<div>Shiping</div>
								<div><strong>FREE</strong></div>
							</div>
							<div class="order-col">
								<div>Discount</div>
								<input type="hidden" id="discount" name="discount" value="0">
								<div id="discountvalue" name="discountvalue"><strong>00.00</strong></div>
							</div>
							<div class="order-col">
								<div><strong>TOTAL</strong></div>

								<div><strong class="order-total" id="order-final-price">₹{{ final_price }}</strong></div>
							</div>
							<div class="order-col text-right">
							<!-- Trigger the modal -->
								<!-- Button to open the modal and navigate to the URL -->
								<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#offerModal">
									View Available Offers
								</button>
							</div>
						</div>
						<div class="payment-method">
<!--							<div class="input-radio">-->
<!--								<input type="radio" name="payment" id="payment-1">-->
<!--								<label for="payment-1">-->
<!--									<span></span>-->
<!--									Direct Bank Transfer-->
<!--								</label>-->
<!--								<div class="caption">-->
<!--									<p>Once the bank transfer is completed, please email us the payment confirmation at our Email Address. Your order will be processed once we verify the payment.</p>-->
<!--								</div>-->
<!--							</div>-->
<!--							<div class="input-radio">-->
<!--								<input type="radio" name="payment" id="payment-2">-->
<!--								<label for="payment-2">-->
<!--									<span></span>-->
<!--									Cheque Payment-->
<!--								</label>-->
<!--								<div class="caption">-->
<!--									<p>Please make your cheque payable. Send your cheque to our Address. Your order will be processed once we receive and verify the cheque.</p>-->
<!--								</div>-->
<!--							</div>-->
							<div class="input-radio">
								<input type="radio" name="payment" id="payment-3" value="Paypal">
								<label for="payment-3">
									<span></span>
									Paypal System
								</label>
								<div class="caption">
									<p>Pay securely with PayPal, a trusted and convenient payment method.</p>
								</div>
							</div>
							<div class="input-radio">
								<input type="radio" name="payment" id="payment-4" value="CashOnDelivery">
								<label for="payment-4">
									<span></span>
									Cash on delivery
								</label>
								<div class="caption">
									<p>Pay with cash when your order is delivered to your doorstep. Please have the exact amount ready.</p>
								</div>
							</div>
						</div>
						<div class="input-checkbox">
							<input type="checkbox" id="terms">
							<label for="terms">
								<span></span>
								I've read and accept the <a href="#">terms & conditions</a>
							</label>
						</div>

						  <div class="col-12 text-center">
							<button type="submit" class="primary-btn order-submit " style="width:100%" id="place-order-button" formnovalidate>Place order</button>
						  </div>
						<!-- Set up a container element for the button -->
   						<div id="paypal-button-container"></div>

					</div>

					<!-- /Order Details -->
				</div>
				<!-- /row -->
			</div>

			<!-- /container -->
		</div>
		<!-- /SECTION -->




</form>




<!-- The Modal -->
<div class="modal fade" id="offerModal" tabindex="-1" role="dialog" aria-labelledby="offerModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="offerModalLabel">Available Offers</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- List of available offers -->
                <ul>
					<span><strong>Product Offers</strong></span><br>
                    {% for offer in product_offer %}
					<li class="offer-item">
							<div class="offer-details">
								{{ offer.discount_percentage }}% off, up to ₹{{ offer.max_discount_amount }}, {{ offer.conditions }} T&C
							</div>
							<div class="offer-button">
								<button class="offer-buttons btn btn-primary" onclick="selectOffer('{{ offer.id }}')" offerid="{{offer.id}}">Select</button>
							</div>
						</li>
                    {% endfor %}
					<span><strong>Category Offers</strong></span><br>
                    {% for offer in category_offer %}
					<li class="offer-item">
							<div class="offer-details">
								{{ offer.discount_percentage }}% off, up to ₹{{ offer.max_discount_amount }}, {{ offer.conditions }} T&C
							</div>
							<div class="offer-button">
								<button class="offer-buttons btn btn-primary" onclick="selectOffer('{{ offer.id }}')" offerid="{{offer.id}}">Select</button>
							</div>
						</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>







	</body>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!--<script>-->
<!--$(document).ready(function() {-->
<!--    $('#offerModal').click(function() {-->
<!--        $.ajax({-->
<!--            url: "/available_offers/",-->
<!--            type: 'GET',-->
<!--            dataType: 'json', // Change this to 'json'-->
<!--            success: function(data) {-->
<!--                console.log(data); // Check the data in the browser console-->
<!--                // Update the modal body with the received JSON data-->
<!--                var offersHtml = '';-->
<!--                for (var i = 0; i < data.product_offers.length; i++) {-->
<!--                    offersHtml += '<li>' + data.product_offers[i].conditions + ' - ' + data.product_offers[i].discount_percentage + '<button class="btn btn-primary" onclick="selectOffer(\'' + data.product_offers[i].id + '\')">Select</button></li>';-->
<!--                }-->
<!--                $('#offerModal .modal-body ul').html(offersHtml);-->
<!--            },-->
<!--            error: function(xhr, status, error) {-->
<!--                console.error(error);-->
<!--            }-->
<!--        });-->
<!--    });-->
<!--});-->
<!--</script>-->

<script>
document.addEventListener('DOMContentLoaded', function() {
    // Find the button element by its ID
    var viewOffersButton = document.getElementById('viewOffersButton');

    // Add a click event listener to the button
    viewOffersButton.addEventListener('click', function() {
        // Get the URL from the "data-url" attribute
        var url = viewOffersButton.getAttribute('data-url');

        // Navigate to the URL
        window.location.href = url;
    });
});
</script>



<script>
  document.addEventListener("DOMContentLoaded", function() {
    // Get the submit button, payment radio buttons, and terms checkbox
    var submitButton = document.getElementById("place-order-button");
    var paymentRadios = document.querySelectorAll("input[name='payment']");
    var paypalContainer = document.getElementById("paypal-button-container");
    var termsCheckbox = document.getElementById("terms");

    // Disable the submit button and hide the PayPal container by default
    submitButton.disabled = true;
    paypalContainer.style.display = "none";

    // Add a change event listener to the payment radio buttons
    for (var i = 0; i < paymentRadios.length; i++) {
      paymentRadios[i].addEventListener("change", function() {
        var selectedBillingAddress = document.querySelector("input[name='billing_address_id']:checked");
        var selectedShippingAddress = document.querySelector("input[name='shipping_address_id']:checked");
        var selectedPayment = document.querySelector("input[name='payment']:checked");

        // Check if billing address, shipping address, and payment method are selected
        if (selectedBillingAddress && selectedShippingAddress && selectedPayment) {
          var selectedPaymentId = selectedPayment.id;

          if (selectedPaymentId === "payment-1" || selectedPaymentId === "payment-2") {
            alert("This payment method is not available right now. Please try another method.");
            submitButton.disabled = true;
            paypalContainer.style.display = "none";
          } else if (selectedPaymentId === "payment-3" && termsCheckbox.checked) {
            paypalContainer.style.display = "block";
            submitButton.disabled = true;
            submitButton.style.display = "none";
          } else if (selectedPaymentId === "payment-4" && termsCheckbox.checked) {
            submitButton.disabled = false;
            submitButton.style.display = "block";
            paypalContainer.style.display = "none";
          } else {
            submitButton.disabled = true;
            paypalContainer.style.display = "none";
          }
        } else {
          submitButton.disabled = true;
          paypalContainer.style.display = "none";
        }
      });
    }

    // Add a change event listener to the terms and conditions checkbox
    termsCheckbox.addEventListener("change", function() {
      var selectedBillingAddress = document.querySelector("input[name='billing_address_id']:checked");
      var selectedShippingAddress = document.querySelector("input[name='shipping_address_id']:checked");
      var selectedPayment = document.querySelector("input[name='payment']:checked");

      if (selectedBillingAddress && selectedShippingAddress && selectedPayment && termsCheckbox.checked) {
        var selectedPaymentId = selectedPayment.id;

        if (selectedPaymentId === "payment-3") {
          paypalContainer.style.display = "block";
          submitButton.disabled = true;
          submitButton.style.display = "none";
        } else if (selectedPaymentId === "payment-4") {
          submitButton.disabled = false;
          submitButton.style.display = "block";
          paypalContainer.style.display = "none";
        } else {
          submitButton.disabled = true;
          paypalContainer.style.display = "none";
        }
      } else {
        submitButton.disabled = true;
        paypalContainer.style.display = "none";
      }
    });
  });
</script>









<!--<script>-->
<!--  document.addEventListener("DOMContentLoaded", function() {-->
<!--    // Select the first billing address radio button by default-->
<!--    var firstBillingAddress = document.querySelector("input[name='billing_address_id']:first-of-type");-->
<!--    if (firstBillingAddress) {-->
<!--      firstBillingAddress.checked = true;-->
<!--    }-->

<!--    // Select the first shipping address radio button by default-->
<!--    var firstShippingAddress = document.querySelector("input[name='shipping_address_id']:first-of-type");-->
<!--    if (firstShippingAddress) {-->
<!--      firstShippingAddress.checked = true;-->
<!--    }-->
<!--  });-->
<!--</script>-->
<script>
$(document).ready(function () {
	$('.offer-buttons').click(function () {
		console.log('Button clicked');
		var id = $(this).attr("offerid").toString();
		console.log('Offer ID:', id);
		$.ajax({
			type: "GET",
			url: "/offer-adding/",
			data: {
				offer_id: id
			},
			success: function (data) {
				console.log(data);
				document.getElementById("discountvalue").innerText = data.discount;
				document.getElementById('discount').value = data.discount;
				document.getElementById("order-final-price").innerText = data.final_price;

                // Set the 'total' variable in the second script
                var totalElement = document.getElementById("order-final-price");
                var total = parseFloat(totalElement.textContent.replace('₹', '').trim()).toFixed(2);
                console.log("helo-", total);
                setTotal(total);
			}
		});
	});
});
<!--</script>-->



    <!-- Include the PayPal JavaScript SDK -->
	<script src="https://www.paypal.com/sdk/js?client-id=AVqCTpTO6jvHt-nKCYg3QMdHxJM_kGFNYfHHsfmn_NQYbWgA6ginY7xE6xzFfOs6djOGXk0QC_L_ojV4&currency=USD&disable-funding=credit,card"></script>

	<script>
    var total;

    function setTotal(value) {
        total = value;
        // Render the PayPal button into #paypal-button-container
        paypal.Buttons({

        	style: {
                color:  'blue',
                shape:  'pill',
            },

            // Set up the transaction
            createOrder: function(data, actions) {
                return actions.order.create({
                    purchase_units: [{
                        amount: {
                            value:parseFloat(total).toFixed(2)
                        }
                    }]
                });
            },

            // Finalize the transaction
            onApprove: function(data, actions) {
                return actions.order.capture().then(function(details) {
                    // Show a success message to the buyer
                    //submitFormData()
                    document.getElementById("paymentform").submit();
                });
            }

        }).render('#paypal-button-container');

	}
    </script>



</html>
{% endblock main-content %}