{% extends 'app/baseindex.html' %}
{% load static %}
{% block title %}Change Password{% endblock title %}
{% block main-content %}

<style>
    .custom-nav .nav-item {
    margin-bottom: 10px;
}

.custom-nav .nav-link {
    color: #0f0f0f;
    transition: color 0.3s;
}

.custom-nav .nav-link:hover {
    color: #007bff;
}
</style>

<div class="container-fluid">
 <div class="row">
              <!-- Left Sidebar Navigation -->
                <div class="col-md-3 bg-dark text-light">
                    <div id="custom-navigation">
                        <div class="container">
                            <div id="responsive-nav">
                                <ul class="custom-nav">
                                    <h5>Welcome <span class="active text-capitalize h2 text-primary">{{ request.user }}</span></h5>
                                    <li class="nav-item">
                                        <a href="{% url 'profile' %}" class="nav-link ">Profile</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="{% url 'address' %}" class="nav-link ">Address</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="{% url 'passwordchange' %}" class="nav-link {{ active }}">Change Password</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="{% url 'user_orders' %}" class="nav-link">Orders</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="{% url 'wishlist' %}" class="nav-link">Wishlist</a>
                                    </li>
                                     <li class="nav-item">
                                        <a href="{% url 'cart' %}" class="nav-link">Cart</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="{% url 'logout' %}" class="nav-link">Logout</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

            <!-- /Left Sidebar Navigation -->

  <div class="col-sm-6 offset-sm-1">
   <h3>Change Password</h3>
   <hr>
   <form action="" method="post" novalidate class="shadow p-5">
      {% csrf_token %}
      {% for fm in form %}
        <div class="form-group">
         {{fm.label_tag}} {{fm}} <small class="text-danger">{{fm.errors|striptags}}</small><br>
        </div>
      {% endfor %}

      <input type="submit" class="btn btn-primary mt-4" value="Save">
       {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
                <p class="alert alert-danger my-3">{{error}}</p>
            {% endfor %}
       {% endif %}

   </form>
  </div>
 </div>
</div>
{% endblock main-content %}