{% extends 'app/baseindex.html' %}
{% load static %}
{% block title %}Password Reset Done{% endblock title %}
{% block main-header %}{% endblock main-header %}
{% block navigation %}{% endblock navigation %}

{% block main-content %}
<style>
    .my-main-div-class {
    margin-top: 80px;
}
</style>
<div class="container">
 <div class="row my-3">
  <div class="col-sm-6 offset-sm-3 my-main-div-class">
      <h4 class="alert-heading">Well done!</h4>
      <p>An email has been sent with instructions to reset your password.<b>Check Your Email!</b></p>
  </div>
 </div>
</div>
{% endblock main-content %}