{% extends 'app/user_profile.html' %}
{% load static %}
{% block title %}Profile{% endblock title %}
{% block leftcontent %}

<div class="container my-5">
    <div class="row">
        <div class="col-sm-12 col-md-8 offset-md-2">
            <h4 class="mb-5 text-danger">User Profile</h4>
            <p><strong>Name:</strong> {{ user.username }}</p>
            <p><strong>Email:</strong> {{ user.email }}</p>
            <p><strong>Joined:</strong> {{ user.date_joined|date:"F d, Y" }}</p>
            <button id="showAddressForm" class="btn btn-primary">Add New Address</button>
            <form id="addressForm" action="{% url 'profile' %}" method="post" novalidate style="display: none;">
                {% csrf_token %}
                {% for fm in form %}
                <div class="form-group col-lg-6 mb-3">
                    {{fm.label_tag}} {{fm}} <small class="text-danger">{{fm.errors|striptags}}</small>
                </div>
                {% endfor %}
                <div class="col-12 mt-3">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
            {% if messages %}
            {% for message in messages %}
            <p {% if message.tags %} class="alert alert-{{message.tags}} mb-5" {% endif %}>{{message}}</p>
            {% endfor %}
            {% endif %}
        </div>
    </div>
</div>

<script>
document.getElementById("showAddressForm").addEventListener("click", function() {
    var form = document.getElementById("addressForm");
    if (form.style.display === "none" || form.style.display === "") {
        form.style.display = "block";
    } else {
        form.style.display = "none";
    }
});
</script>





{% endblock leftcontent %}