{% extends 'app/user_profile.html' %}
{% load static %}
{% block title %}Profile{% endblock title %}
{% block leftcontent %}
<style>
.cardbody3{
    background-color: #fafafa;
    width: 100%;
    padding-top:1rem;
    border-radius: 1rem;

    }

</style>



<!-- Right Content -->
                    <div class="col-lg-10 col-sm-8 offset-sm-1 ">

                        <!-- Inside your user page template -->
                        <div class="container ">
                            <h2>Your Orders</h2>
                                <div class="container card-body2">
                                    <div class="row justify-content-center mb-3" style="margin:0;">
                                        <div class="col-md-12 col-xl-10">
                                            <div class="card shadow-0 border rounded-3">
                                                 {% if orders %}
                                                {% for order in orders %}

                                                    <div class="" style="margin: 1.5rem 0rem;">
                                                <a class="order-card-link" href=" url 'order_summary' order.id %}">
                                                        <div class="row cardbody3 " >
                                                            <div class="col-md-12 col-lg-3 col-xl-3 mb-4 mb-lg-0">
                                                                <div class="bg-image hover-zoom ripple rounded ripple-surface">
                                                                    <img src="{{ order.orderitem_set.first.product.images.first.image.url }}"
                                                                         style="width:200px;"/>
                                                                    <a href="#!">
                                                                        <div class="hover-overlay">
                                                                            <div class="mask"
                                                                                 style="background-color: rgba(253, 253, 253, 0.15);"></div>
                                                                        </div>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6 col-lg-6 col-xl-6">
                                                                <h5>Order ID: {{ order.id }}</h5>
                                                                <div class="d-flex flex-row">
                                                                    <div class="text-danger mb-1 me-2">
                                                                        <i class="fa fa-star"></i>
                                                                        <i class="fa fa-star"></i>
                                                                        <i class="fa fa-star"></i>
                                                                        <i class="fa fa-star"></i>
                                                                    </div>
                                                                    {% for order_item in order.orderitem_set.all %}
                                                                    <li><strong>{{ order_item.product.title }}</strong> - Qty {{ order_item.quantity }} x {{order_item.price_per_product}}</li>
                                                                    {% endfor %}
                                                                    <p class="text-truncate mb-4 mb-md-0">Ordered Date: {{ order.ordered_date }}</p>
                                                                </div>
                                                                <p class="text-truncate mb-4 mb-md-0"><strong>Billing Address:  </strong>{{ order.billing_address.name }}, {{ order.billing_address.locality }},
                                                                {{ order.billing_address.city }}, {{ order.billing_address.state }}-{{ order.billing_address.pincode }}<br>{{ order.billing_address.phone_number }}</p>
<!--                                                                <p class="text-truncate mb-4 mb-md-0">Brand: {{ order.orderitem_set.first.product.brand }}</p>-->

                                                            </div>
                                                            <div class="col-md-6 col-lg-3 col-xl-3 border-sm-start-none border-start">
                                                                <div class="d-flex flex-row align-items-center mb-1">
                                                                    <h4 class="mb-1 me-1">₹{{ order.total_price }}</h4>
                                                                    <!--                  <span class="text-danger"><s>$20.99</s></span>-->
                                                                </div>
                                                                <h6 class="text-success">Order Status: {{ order.order_status }}</h6>
<!--                                                                <h6 class="text-success">Ordered Date: {{ order.ordered_date }}</h6>-->
                                                                {% if order.order_status != 'Cancelled' %}
                                                                <div class="d-flex flex-column mt-5">
                                                                    <a href="{% url 'cancel_order' order.id %}" class="btn btn-primary btn-sm" style="width:100%;">Cancel</a>
                                                                </div>
                                                                {% endif %}
                                                        </div>
                                                 </a>
                                                    </div>

                                                {% endfor %}
                                                {% else %}
                                                <p>You have no orders yet.</p>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        </div>
                    </div>
<!-- /Right Content -->


<!-- Pagination -->
<div style="text-align: center; margin-top: 20px;">
  <nav aria-label="Page navigation example">
    <ul class="pagination">
      {% if orders.has_previous %}
      <li class="page-item">
        <a class="page-link" href="{% url 'user_orders' %}?page=1" aria-label="First"><span aria-hidden="true">&laquo;</span> first
        </a>
      </li>
      <li class="page-item">
        <a class="page-link" href="{% url 'user_orders' %}?page={{ orders.previous_page_number }}" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      {% endif %}
      {% for n in page_range %}
      <li class="page-item{% if n == orders.number %} active{% endif %}">
        <a class="page-link" href="{% url 'user_orders' %}?page={{ n }}">{{ n }}</a>
      </li>
      {% endfor %}
      {% if orders.has_next %}
      <li class="page-item">
        <a class="page-link" href="{% url 'user_orders' %}?page={{ orders.next_page_number }}" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
      <li class="page-item">
        <a class="page-link" href="{% url 'user_orders' %}?page={{ lastpage }}" aria-label="Last">last <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
      {% endif %}
    </ul>
  </nav>
</div>
<!-- Pagination -->






{% endblock leftcontent %}