{% extends 'app/user_profile2.html' %}
{% load static %}
{% load custom_filters %}
{% block title %}Profile{% endblock title %}
{% block leftcontent %}

    <div class="container-fluid ">
        <div class="row ">


    <div class="container col-md-9 my-2">
        <h1 class="">Your Wishlist</h1>
        {% if wishlist_items %}
        <table class="table table-bordered card-body2">
            <thead>
                <tr>
                    <th>Image</th>
                    <th>Product</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for item in wishlist_items %}
                <tr>

					{% if item.product.images.all %}
                    <td><img src="{{ item.product.images.first.image.url }}" alt="" id="main-product-img" style="width: 120px; height: 90px;"></td>
					{% endif %}
                    <td><a href="{% url 'product-detail' pk=item.product.pk %}">{{ item.product.title }}</a></td>
                    <td>{{ item.product.description }}</td>
                    <td><h5 class="product-price">Rs.{{item.product.discount_price}} <del class="product-old-price">Rs.{{item.product.selling_price}}</del></h5></td>
                    <td>

                        <a href="{% url 'remove_from_wishlist' item.product.id %}" class="btn ">
                            <i class="fas fa-trash"></i>
                        </a>
                                                <div class="product-btns">
												{% if item.product|is_in_cart:request.user %}
													<form method="post" action="{% url 'cart' %}">
														{% csrf_token %}
														<div class="add-to-cart">
														<button type="submit" class="add-to-cart-btn"><i class="fa fa-shopping-cart red-heart"></i> Go to Cart</button>
														</div>
													</form>

												{% else %}
													<form method="post" action="{% url 'add_to_cart' item.product.id %}">
														{% csrf_token %}
														<div class="add-to-cart">
															<input type="hidden" name="next" value="{{ request.get_full_path }}">
															<button type="submit" class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> Add to Cart</button>
														</div>
													</form>
												{% endif %}
                        </div>
                    </td>
                </tr>

                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>No item in your wishlist</p>
        {% endif %}
    </div>


            <!-- /Right Content -->
        </div>
    </div>


{% endblock leftcontent %}